bionexo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BionexoBeanService" targetNamespace="http://webservice.bionexo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.bionexo.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http">
    <wsdl:types>
        <xsd:schema targetNamespace="http://webservice.bionexo.com/">
            <xsd:complexType name="modelMar">
                <xsd:sequence>
                    <xsd:element name="parameters" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="request">
        <wsdl:part name="login" type="xsd:string"/>
        <wsdl:part name="password" type="xsd:string"/>
        <wsdl:part name="operation" type="xsd:string"/>
        <wsdl:part name="parameters" type="tns:modelMar"/>
    </wsdl:message>

    <wsdl:message name="post">
        <wsdl:part name="login" type="xsd:string"/>
        <wsdl:part name="password" type="xsd:string"/>
        <wsdl:part name="operation" type="xsd:string"/>
        <wsdl:part name="parameters" type="tns:modelMar"/>
        <wsdl:part name="xml" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="postResponse">
        <wsdl:part name="return" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="requestResponse">
        <wsdl:part name="return" type="xsd:string"/>
    </wsdl:message>

    <wsdl:portType name="BionexoInterface">
        <wsdl:operation name="post" parameterOrder="login password operation parameters xml">
            <wsdl:input message="tns:post" name="post"/>
            <wsdl:output message="tns:postResponse" name="postResponse"/>
        </wsdl:operation>
        <wsdl:operation name="request" parameterOrder="login password operation parameters">
            <wsdl:input message="tns:request" name="request"/>
            <wsdl:output message="tns:requestResponse" name="requestResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BionexoBeanServiceSoapBinding" type="tns:BionexoInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="post">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="post">
                <soap:body namespace="http://webservice.bionexo.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="postResponse">
                <soap:body namespace="http://webservice.bionexo.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="request">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="request">
                <soap:body namespace="http://webservice.bionexo.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestResponse">
                <soap:body namespace="http://webservice.bionexo.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BionexoProdBeanService">
        <wsdl:port binding="tns:BionexoBeanServiceSoapBinding" name="BionexoProdPort">
            <soap:address location="http://ws.bionexo.com.br/bionexo-wsEAR-bionexo-wsn/BionexoBean"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="BionexoHomologBeanService">
        <wsdl:port binding="tns:BionexoBeanServiceSoapBinding" name="BionexoHomologPort">
            <soap:address location="http://ws.bionexo.com.br/bionexo-wsEAR-bionexo-wsn/BionexoBean"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
