ecomex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    name="InboundOutboundService"
    targetNamespace="http://webservice.bionexo.com/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://webservice.bionexo.com/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >

    <wsdl:types>
        <xsd:schema targetNamespace="http://webservice.bionexo.com/">
            <xsd:element name="mergeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="source" type="xsd:string"/>
                        <xsd:element name="messageType" type="xsd:string"/>
                        <xsd:element name="messageNumber" type="xsd:string"/>
                        <xsd:element name="xmldoc" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="mergeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="mergeRequest">
        <wsdl:part name="parameters" element="tns:mergeRequest"/>
    </wsdl:message>
    
    <wsdl:message name="mergeResponse">
        <wsdl:part name="parameters" element="tns:mergeResponse"/>
    </wsdl:message>

    <wsdl:portType name="EcomexInterface">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:mergeRequest"/>
            <wsdl:output message="tns:mergeResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="InboundOutboundBinding" type="tns:EcomexInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="merge">
            <soap:operation soapAction="http://webservice.bionexo.com/"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="InboundOutboundService">
        <wsdl:port name="InboundOutboundPort" binding="tns:InboundOutboundBinding">
            <soap:address location="http://ws-bionexo-sandbox.bionexo.com/ws2/BionexoBean"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
